<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<html>
<head>
    <title>About</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>
 .jumbotron{
            background-color: transparent;
            font-family: monospace;
            display: inline-block;
            }
    </style>
    <head>
<body>
<div th:replace="/header :: header"></div>
<div class="container">
    <div class="jumbotron">
        <h1>FriendsGame</h1>
        <p>An Interactive app to have fun knowing each other :)</p>
        <p>Version: 1.0</p>
        <p>Enterprise: Hanlak Tech Solutions</p>
    </div>
</div>
</body>
</html>
