<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>
                                            .alert-danger{
                                            background-color: transparent;
                                            font-size: 140%;
                                            border: none
                                            }

    </style>
</head>
<div th:replace="/header :: header"></div>
<body>
<div class="container-fluid">
    <div class="alert alert-danger"><h2 th:text="${errmsg}"></h2></div>
</div>
</body>
</html>