<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<html>
<head>
    <title>FriendsGame</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link th:href="@{/css/loginPage.css}" rel="stylesheet"/>
    <script type="text/javascript" th:src="@{/js/loginPage.js}"></script>
</head>
<body>
<h3><i>Friends</i></h3>
<div class="container">

    <form action="loginProcess" method="POST" onsubmit="return onSubmit()">
        <h1 th:text="${message1}"></h1>
        <div class="form-horizontal">

            <div class="form-group">
                <label for="username" control-label>UserName</label>
                <input type="text" placeholder="UserName" name="username" class="form-control" id="username"
                       required="required">
                <span id="user" class="reqError"></span>
            </div>

            <div class="form-group">
                <label for="password" control-label>Password</label>
                <input type="password" placeholder="Password" name="password" class="form-control" id="password"
                       required="required">
                <span id="pass" class="reqError"></span>
            </div>

            <div class="form-group">
                <h5 class="alert-danger control-label" th:text="${error}"></h5>
            </div>

            <div class="form-group">
                <label class="control-label">
                    <input type="submit" value="Login" id="submit" class="btn btn-success">
                </label>
                <label class="control-label">
                    <a href="register" class="btn btn-primary">Register</a>
                </label>
                <label class="control-label">
                    <a href="forgotpassword" class="btn btn-warning">Forgot Password</a>
                </label>
            </div>
        </div>
    </form>
</div>
</body>
</html>