<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<html>
<head>
    <title>Success</title>
                      <meta charset="utf-8">
                      <meta name="viewport" content="width=device-width, initial-scale=1">
                      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
                      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
                      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
                      <style>
                      a:link, a:visited {
                                  color: red;
                                    padding: 10px 15px;
                                    text-align: center;
                                    text-decoration: none;
                                    display: inline-block;
                                  }
                      </style>

</head>
<body>
<div class="container-fluid">
  <h1>Friends Game</h1>
  <div class="row">
    <div class="col-lg-4" style="background-color:lavender;">Your Score: </div>
    <div class="col-lg-8" style="background-color:lavenderblush;"><span th:text="${result}"></span></div>
  </div>
  <p> if interested please give a try by joining friends game: <a href="/">click here to login</a></p>
</div>
</body>
</html>